<ion-header-bar align-title="left" class="bar-balanced">

  <div class="h1 title title-left"><a ui-sref="tab.category" style="text-decoration: none"> 返回</a></div>

</ion-header-bar>
<ion-view view-title="搜索">
  <ion-content class="">
    <div class=" item-input-inset light-bg" style="opacity: 0.9;height:33px;margin-top: 2px;">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="请输入宝贝关键词">
      </label>
      <button class="button  button-clear">
        <a style="color: #0c63ee"> 搜索</a>
      </button>
    </div>

    <ul class="list" style="margin-top: 10px;">
      <li class="item">
       iPhone6
      </li>
      <li class="item">
        桌子
      </li>
    </ul>
    <div class="row">
      <div class="col " style="text-align: center;">
        <a class="button button-clear" ng-click="">清除搜素历史</a>
      </div>

    </div>
  </ion-content>
</ion-view>
