<ion-header-bar align-title="left" class="bar-balanced">

    <div class="h1 title title-left"><a href="#/tab/ask" style="text-decoration: none"> 返回</a></div>
    <div class="buttons">

        <button class="button no-animation ">提交
        </button>
    </div>
</ion-header-bar>
<ion-view title="求购专区" hide-tabs>

    <ion-content class="padding stable-bg">

        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="标题">
            </label>

            <label class="item item-input" style="margin-top: 10px;">
                <textarea rows="5" placeholder="描述"></textarea>
            </label>
            <label class="item item-input" style="margin-top: 10px;">
                <input type="text" placeholder="期望价格">
            </label>
            <label class="item item-input" style="margin-top: 10px;">
                <input type="text" placeholder="交易地点">
            </label>
            <label class="item item-input" style="margin-top: 10px;">
                <input type="text" placeholder="手机号">
            </label>
            <label class="item item-input" style="margin-top: 10px;">
                <input type="text" placeholder="QQ号">
            </label>
        </div>

    </ion-content>
</ion-view>
