<ion-header-bar align-title="left" class="bar-balanced">

    <div class="h2 title title-left menu-animated"><a href="#/tab/discovery" style="text-decoration: none"> 返回</a></div>


</ion-header-bar>
<ion-view title="话题社区" hide-tabs>

    <ion-content class="stable-bg padding "  >
        <div class="list card">
            <a  ui-sref="topic.topic-detail" style="text-decoration: none;">

                <div class="item item-avatar positive-bg">
                    <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5868/43.png">
                    <h2 style="color:white;margin-top: 10px;">话题话题</h2>

                </div>

                <ul class="list">
                    <li class="item">
                        ...
                    </li>
                    <li class="item">
                        ...
                    </li>
                </ul>
                <div class="item ">
                    <p>已有44个讨论</p>

                </div>

            </a>

        </div>

        <div class="list card">
            <a  ui-sref="tab.topic-detail" style="text-decoration: none;">

                <div class="item item-avatar royal-bg">
                    <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5868/43.png">
                    <h2 style="color:white;margin-top: 10px;">话题话题</h2>

                </div>

                <ul class="list">
                    <li class="item">
                        ...
                    </li>
                    <li class="item">
                        ...
                    </li>
                </ul>
                <div class="item ">
                    <p>已有44个讨论</p>

                </div>

            </a>

        </div>

        <div class="list card">
            <a  href="#/tab/topic-detail" style="text-decoration: none;">

                <div class="item item-avatar energized-bg">
                    <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5868/43.png">
                    <h2 style="color:white;margin-top: 10px;">话题话题</h2>

                </div>

                <ul class="list">
                    <li class="item">
                        ...
                    </li>
                    <li class="item">
                        ...
                    </li>
                </ul>
                <div class="item ">
                    <p>已有44个讨论</p>

                </div>

            </a>

        </div>
    </ion-content>
</ion-view>
