<ion-header-bar align-title="left" class="bar-balanced">

    <div class="h2 title title-left menu-animated"><a href="#/tab/discovery" style="text-decoration: none"> 返回</a></div>
    <div class="buttons">

        <button class="button no-animation " ui-sref="tab.ask-publish">求购
        </button>
    </div>

</ion-header-bar>
<ion-view title="求购专区" hide-tabs>

    <ion-content class="padding-horizontal stable-bg">

        <ul class="list">
            <li>
                <div class="item item-avatar  light-bg" ui-sref="tab.ask-publish" style="margin-top: 10px;">
                    <img src="https://picjumbo.imgix.net/HNCK7655.jpg?q=40&w=1650&sharp=30">
                    <h2>Venkman</h2>
                    <p style="font-size: 11px;">2015-08-23 22:11:11</p>
                    <div style="margin-left: -60px;margin-top: 10px;">
                        <p style="font-size: 15px;color:#ffb32f;">自动化书本</p>
                        <p> 详情内容</p>
                    </div>
                    <div class="row" style="margin-left: -70px;">
                        <div class="col col-33" style="color: red;">
                            ￥22
                        </div>
                        <div class="col col-10" >
                            <i class="icon ion-ios-location-outline"></i>图书馆
                        </div>

                    </div>
                    <hr style="height:1px;margin-left:-50px;border:none;border-top:1px solid rgba(92, 98, 116, 0.38);"/>
                    <button class="button-clear icon ion-android-phone-portrait" style="margin-left: -30px;">联系买家
                    </button>

                    <button class="button-clear icon ion-chatbox" style="margin-left: 50px;">评论</button>
                </div>


            </li>
            <li>
                <div class="item item-avatar light-bg" href="#" style="margin-top: 10px;">
                    <img src="https://picjumbo.imgix.net/HNCK7655.jpg?q=40&w=1650&sharp=30">
                    <h2>Venkman</h2>
                    <p style="font-size: 11px;">2015-08-23 22:11:11</p>
                    <div style="margin-left: -60px;margin-top: 10px;">
                        <p style="font-size: 15px;color:#ffb32f;">自动化书本</p>
                        <p> 详情内容</p>
                    </div>
                    <div class="row" style="margin-left: -70px;">
                        <div class="col col-33" style="color: red;">
                            ￥22
                        </div>
                        <div class="col col-10" >
                            <i class="icon ion-ios-location-outline"></i>图书馆
                        </div>

                    </div>
                    <hr style="height:1px;margin-left:-50px;border:none;border-top:1px solid rgba(92, 98, 116, 0.38);"/>
                    <button class="button-clear icon ion-android-phone-portrait" style="margin-left: -30px;">联系买家
                    </button>

                    <button class="button-clear icon ion-chatbox" style="margin-left: 50px;">评论</button>
                </div>


            </li>





        </ul>

    </ion-content>
</ion-view>
