<ion-header-bar align-title="left" class="bar-balanced">

    <div class="h2 title title-left menu-animated"><a href="#/tab/topic" style="text-decoration: none"> 返回</a></div>

    <div class="buttons">
        <button class="button button-icon icon ion-add" href="#/tab/category">
        </button>
    </div>
</ion-header-bar>
<ion-view title="话题详情" hide-tabs>

    <ion-content class="stable-bg padding " >
        <div class="list card" style="margin-top: 0px;">
            <!--头部-->
            <div class="item item-avatar positive-bg">
                    <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5761/520.png">
                    <h2 style="color:white;">话题话题</h2>
                    <hr style="height:1px;border:none;border-top:1px solid #ffffff;" />


                        <i class="icon-left ion-ios-chatboxes-outline"></i>
                    <h5 style="text-align: left;color:white;margin-top: -17px;margin-left:20px; ">已有44个人参与讨论</h5>

            </div>
            <!--讨论列表-->
                <ul class="list">

                        <li  class="item item-icon-right item-button-right  item-avatar-left "
                             ng-click="changeAvatar()">
                            <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5457/7.png">
                            <h2 style="margin-top: 10px;">dwefrferf</h2>
                            <button  class="button button-dark  button-clear" style="margin-right:20px;"
                                     ng-click="changeUniversity()">
                                <p>1#</p></button>
                        </li>


                        <li  class="item item-icon-right item-button-right  item-avatar-left "
                             ng-click="changeAvatar()">
                            <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5457/7.png">
                            <h2 style="margin-top: 10px;">dwefrferf</h2>
                            <button  class="button button-dark  button-clear" style="margin-right:20px;"
                                     ng-click="changeUniversity()">
                                <p>2#</p></button>
                        </li>
                    <li  class="item item-icon-right item-button-right  item-avatar-left "
                         ng-click="changeAvatar()">
                        <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5457/7.png">
                        <h2 style="margin-top: 10px;">dwefrferf</h2>
                        <button  class="button button-dark  button-clear" style="margin-right:20px;"
                                 ng-click="changeUniversity()">
                            <p>3#</p></button>
                    </li>
                    <li  class="item item-icon-right item-button-right  item-avatar-left "
                         ng-click="changeAvatar()">
                        <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5457/7.png">
                        <h2 style="margin-top: 10px;">dwefrferf</h2>
                        <button  class="button button-dark  button-clear" style="margin-right:20px;"
                                 ng-click="changeUniversity()">
                            <p>4#</p></button>
                    </li>
                    <li  class="item item-icon-right item-button-right  item-avatar-left "
                         ng-click="changeAvatar()">
                        <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5457/7.png">
                        <h2 style="margin-top: 10px;">dwefrferf</h2>
                        <button  class="button button-dark  button-clear" style="margin-right:20px;"
                                 ng-click="changeUniversity()">
                            <p>5#</p></button>
                    </li>
                    <li  class="item item-icon-right item-button-right  item-avatar-left "
                         ng-click="changeAvatar()">
                        <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5457/7.png">
                        <h2 style="margin-top: 10px;">dwefrferf</h2>
                        <button  class="button button-dark  button-clear" style="margin-right:20px;"
                                 ng-click="changeUniversity()">
                            <p>6#</p></button>
                    </li>

                    <li  class="item item-icon-right item-button-right  item-avatar-left "
                         ng-click="changeAvatar()">
                        <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5457/7.png">
                        <h2 style="margin-top: 10px;">dwefrferf</h2>
                        <button  class="button button-dark  button-clear" style="margin-right:20px;"
                                 ng-click="changeUniversity()">
                            <p>7#</p></button>
                    </li>
                    <li  class="item item-icon-right item-button-right  item-avatar-left "
                         ng-click="changeAvatar()">
                        <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5457/7.png">
                        <h2 style="margin-top: 10px;">dwefrferf</h2>
                        <button  class="button button-dark  button-clear" style="margin-right:20px;"
                                 ng-click="changeUniversity()">
                            <p>8#</p></button>
                    </li>


                </ul>




        </div>

        <button class="button button-block button-energized" ng-click="topicDiscuss()">
            参与讨论
        </button>
    </ion-content>
</ion-view>
