<ion-header-bar align-title="left" class="bar-balanced">

  <div class="h1 title title-left"><a href="#/tab/dash" style="text-decoration: none"> 返回</a></div>

</ion-header-bar>
<ion-view  hide-tabs>
  <ion-content  ng-controller="GoodsDetailCtrl" >

adadsadas
    <!--<div class="list card">

      <div class="item light-bg">
        <ion-list>
          <ion-item class="light-bg item-button-right">
            <p style="color: #0a9ec7">标题标题标题标题标题标题</p>
            <h5>发布于：昨天 &nbsp &nbsp &nbsp &nbsp &nbsp浏览次数 42 </h5>
            <hr>
            <i class="ion-ios-location-outline"></i> 交易地点：公交站
            <button class="button button-clear button-assertive">￥1222</button>
          </ion-item>

          <div class="item item-avatar-left light-bg" >
            <img src="https://static.pexels.com/photos/7529/pexels-photo-medium.jpeg"
                 style="margin-left: 20px;margin-top: 10px;">
            <div style="margin-left: 30px;margin-top: 10px;">
              <h2 class=""><font style="font-size:15px;color: indianred;">用户名  等级:LV2 </font>   </h2>
              <p class="" style="color: red;"> 自动化12级（未认证）</p>
            </div>
          </div>
        </ion-list>
      </div>

      <div class="item " style="font-size: 13px;">
        一大段物品的详情一大段物品的详情
        一大段物品的详情 一大段物品的详情
        一大段物品的详情
        一大段物品的详情
        一大段物品的详情


      </div>

      <div style="" class="item item-icon-left assertive" href="#">
        <i class="icon ion-ios-chatboxes-outline"></i>
        评论3条
      </div>
      <div class="list">

          <div class="item item-avatar-left light-bg" >
            <img src="https://static.pexels.com/photos/7529/pexels-photo-medium.jpeg"
                 style="margin-left: 20px;margin-top: 10px;">
            <div style="margin-left: 30px;margin-top: 10px;">
              <h3>用户名</h3>
              <h4>评论内容</h4>
            </div>


          </div>

          <div class="item item-avatar-left light-bg" >
            <img src="https://static.pexels.com/photos/7529/pexels-photo-medium.jpeg"
                 style="margin-left: 20px;margin-top: 10px;">
            <div style="margin-left: 30px;margin-top: 10px;">
              <h3>用户名</h3>
              <h4>评论内容</h4>
            </div>


          </div>

          <div class="item item-avatar-left light-bg" >
            <img src="https://static.pexels.com/photos/7529/pexels-photo-medium.jpeg"
                 style="margin-left: 20px;margin-top: 10px;">
            <div style="margin-left: 30px;margin-top: 10px;">
              <h3>用户名</h3>
              <h4>评论内容</h4>
            </div>


          </div>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <button class="button-clear tab-item" href="#" ng-click="goodsBookmark()">
          <i class="icon ion-star">收藏</i>

        </button>
        <button class="button-clear tab-item" href="#" ng-click="goodsComment()" >
          <i class="icon ion-chatbox">评论</i>

        </button>
        <button class="button-clear tab-item" href="#" ng-click="goodsContact()">
          <i class="icon ion-android-phone-portrait">联系卖家</i>

        </button>
      </div>


</div>-->

  </ion-content>
</ion-view>
