
<ion-view view-title="校易圏" >
  <ion-nav-bar class="bar-balanced " style="color: #0c63ee">

  </ion-nav-bar>

  <ion-content class="" ng-controller="MyController">

      <ion-refresher
              pulling-text="下拉刷新..."
              on-refresh="doRefresh()">
      </ion-refresher>
      <ion-list>


    <div class="button-bar  "style="background-color: #4cd964;margin-top: -1px;">
      <a class="button button-clear balanced-bg  " style="color: #0c63ee" href="tab-dash.html">推荐</a>
      <a class="button button-clear balanced-bg " style="color: #0c63ef" href="tab-latest.html">最新</a>

    </div>



      <div class="row">

        <div class="col col-49" style="background-color:#F0F3F8;">
          <div class="row" >
            <img ng-src="img/5.png" >

          </div>

          <div class="row">
            <p style="font-size: 12px;">九成新的手机</p>

          </div>
          <div class="row">
            <p style="font-size: 12px;">serfer</p>
          </div>
          <div class="row">
            <div class="col col-65"><p style="font-size: 10px;">地址2</p></div>
            <div class="col col-35"><p style="font-size: 10px;color:red;">￥12</p></div>
          </div>
        </div>

        <div class="col col-49"  style="background-color:#F0F3F8;margin-left: 10px;">
          <div class="row" >
            <img ng-src="img/7.png" >

          </div>
          <div class="row">
            <p style="font-size: 12px;">九成新的手机</p>

          </div>
          <div class="row">
            <p style="font-size: 12px;">serfer</p>
          </div>
          <div class="row">
            <div class="col col-65"><p style="font-size: 10px;">地址2</p></div>
            <div class="col col-35"><p style="font-size: 10px;color:red;">￥12</p></div>
          </div>

        </div>

      </div>

      <div class="row" style="margin-top:10px;">
        <div class="col col-49" style="background-color:#F0F3F8;">
          <div class="row">
            <img ng-src="img/5.png" >

          </div>
          <div class="row">
            <p style="font-size: 12px;">九成新的手机</p>

          </div>
          <div class="row">
            <p style="font-size: 12px;">serfer</p>
          </div>
          <div class="row">
            <div class="col col-65"><p style="font-size: 10px;">地址2</p></div>
            <div class="col col-35"><p style="font-size: 10px;color:red;">￥12</p></div>
          </div>
        </div>

        <div class="col col-49"  style="background-color:#F0F3F8;margin-left: 10px;">
          <div class="row">
            <img ng-src="img/7.png" >

          </div>
          <div class="row">
            <p style="font-size: 12px;">九成新的手机</p>

          </div>
          <div class="row">
            <p style="font-size: 12px;">serfer</p>
          </div>

          <div class="row">
            <div class="col col-65"><p style="font-size: 10px;">地址2</p></div>
            <div class="col col-35"><p style="font-size: 10px;color:red;">￥12</p></div>
          </div>

        </div>

      </div>



  </ion-content>

</ion-view>
