<ion-header-bar align-title="left" class="bar-balanced">
    <div class="h1 title center">分类</div>
    <div class="buttons">
        <button class="button no-animation button-icon icon ion-android-search" ui-sref="tab.category-search">
        </button>

    </div>
</ion-header-bar>
<ion-view  class="">

    <ion-content class="stable-bg">

        <div class="row">
            <div class="col">
                <div class="list">

                    <a class="item item-avatar-left" ui-sref="tab.category-detail">
                        <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5405/8.png">
                        <h3 style="color: bisque">校园代步</h3>
                        <h5>自行车 电动车</h5>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="list">

                    <a class="item item-avatar-left" ui-sref="tab.category-detail">
                        <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5105/9.png">
                        <h3 style="color: bisque">手机</h3>
                        <h5>iphone  三星</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="list">

                    <a class="item item-avatar-left" ui-sref="tab.category-detail">
                        <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5505/1.png">
                        <h3 style="color: bisque">电脑</h3>
                        <h5>惠普  Mac</h5>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="list">

                    <a class="item item-avatar-left" ui-sref="tab.category-detail">
                        <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5405/4.png">
                        <h3 style="color: bisque">数码配件</h3>
                        <h5>耳机 U盘  键盘</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="list">

                    <a class="item item-avatar-left" ui-sref="tab.category-detail">
                        <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5115/8.png">
                        <h3 style="color: bisque">生活娱乐</h3>
                        <h5>乐器 日常  会员卡</h5>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="list">

                    <a class="item item-avatar-left" ui-sref="tab.category-detail">
                        <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5206/4.png">
                        <h3 style="color: bisque">数码</h3>
                        <h5>相机  ipad  游戏机</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="list">

                    <a class="item item-avatar-left" ui-sref="tab.category-detail">
                        <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5200/7.png">
                        <h3 style="color: bisque">电器</h3>
                        <h5>风扇 台灯  饮水机</h5>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="list">

                    <a class="item item-avatar-left" ui-sref="tab.category-detail">
                        <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5001/4.png">
                        <h3 style="color: bisque">运动健身</h3>
                        <h5>篮球  足球 球拍</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="list">

                <a class="item item-avatar-left" ui-sref="tab.category-detail">
                    <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5201/4.png">
                    <h3 style="color: bisque">衣物伞帽</h3>
                    <h5>上衣  裤子 背包</h5>
                </a>
            </div></div>

            <div class="col">
                <div class="list">

                <a class="item item-avatar-left" ui-sref="tab.category-detail">
                    <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5202/4.png">
                    <h3 style="color: bisque">图书教材</h3>
                    <h5>教材 考研   课外书</h5>
                </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="list">

                <a class="item item-avatar-left" ui-sref="tab.category-detail">
                    <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5204/1.png">
                    <h3 style="color: bisque">租赁出借</h3>
                    <h5>租房  服装 道具</h5>
                </a>
            </div>
            </div>

            <div class="col">
                <div class="list">

                    <a class="item item-avatar-left" ui-sref="tab.category-detail">
                        <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5225/4.png">
                        <h3 style="color: bisque">其他</h3>
                        <h5>忘记分类的</h5>
                    </a>
                </div>
            </div>
            </div>


        </div>

    </ion-content>


</ion-view>
