<ion-header-bar align-title="center" class="bar-balanced">

    <div class="h2 title title-center"><a href="#/tab/discovery" style="text-decoration: none" > 发现</a></div>



</ion-header-bar>
<ion-view title="发现">

    <ion-content class="padding stable-bg">

      <div class="item item-image stable-bg" style="max-height: 100px;">
        <img src="http://pic.ffsky.net/images/2016/04/02/b5d8f7a9b5b5bcbb863a79212761a67e.jpg">
      </div>
        <div class="list card">

            <a class="item item-thumbnail-left" ui-sref="tab.ask">
                <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5897/s17.png">
                <div style="margin-top: 10px;">
                    <h2 style="color: #4cd964;font-size: 20px;">求购专区</h2>


                </div>
                <p style="margin-top: 10px;">软件技术</p>

            </a>

            <a class="item item-thumbnail-left" ui-sref="tab.topic">
                <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5890/w3.png">
                <div style="margin-top: 10px;">
                    <h2 style="color: #4cd964;font-size: 20px;">话题社区</h2>


                </div>
                <p style="margin-top: 10px;">回收二手书籍的方式</p>


            </a>


            <a class="item item-thumbnail-left" ui-sref="login">
                <img src="http://pics.sc.chinaz.com/Files/pic/icons128/5890/w6.png">
                <div style="margin-top: 10px;">
                    <h2 style="color: #4cd964;font-size: 20px;">测asd试</h2>


                </div>
                <p style="margin-top: 10px;">回阿大声道</p>


            </a>

        </div>


    </ion-content>


</ion-view>
